:root {
    --page-color: #F5F5F5;
    --body-font-family: 'Montserrat', sans-serif;
    --body-font-weight: 600;

    --black: black;
    --white: white;
    --border-button-color: rgba(0, 0, 0, 0.8);

    --primary-color: rgb(206, 223, 227);
    --secondary-color: rgb(111, 157, 168);
    --third-color: rgb(16, 80, 98);
    --buttonhover-color: white;
    --a-visited-color: rgb(28, 28, 71);

    --sun-0: #edc655;
    --sun-50: #fcffad;
    --sun-100: #f76414;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--page-color);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.about-main,
.profile {
    max-width: 700px;
    margin: 0 auto;
}
.profile{
    padding-bottom: 250px;
}
.about-main {
    text-align: center;
    list-style-type: none;
    padding-bottom: 150px;
}

.about-main-ul {
    list-style: none;
    margin-bottom: 40px;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 50px;
    border-radius: 50%;
}
.profile__div{
    padding-top: 20px;
}
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--primary-color);
}

header {
    margin-top: 20px;
    padding-bottom: 8%;
}

.grid__item {
    display: inline-block;
    width: 33%;
}


.h1 {
    text-align: center;
    margin-bottom: 40px;
    -webkit-text-stroke: var(--black) 1px;
}

table,
th {
    border: 3px solid var(--secondary-color);
    margin: auto;
    margin-bottom: 40px;
    padding: 0.5%;
    border-radius: 9px;
}

th,
td {
    width: 300px;
    
}

th {
    -webkit-text-stroke: var(--black) 1px;
    background-color: var(--secondary-color);
    transition: all 0.5s ease-in-out;
}
th:hover{
    opacity: 0.7;
    background-color: var(--primary-color);
}
td{
    padding: 15px;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 5px;
    margin-bottom: 50px;
}

/*applies to img & nav*/
.page-header__item {
    flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list__item--active {
    text-decoration: none;
}

#main_contact {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.main__left--div {
    justify-content: flex-end;
    text-align: right;
}

.main__right--div {
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 40px;
}
.contact__a{
    -webkit-text-stroke: var(--third-color) 0.8px;
    text-decoration: none; 
    transition: opacity 0.3s ease;
}
.contact__a:hover{
    opacity: 0.7;
}

form {
    background-color: var(--primary-color);
    max-width: 500px;
    /*center form > margin: 0 auto; */
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 5px;
    border: 8px solid var(--white);
}

label {
    width: 100%;
    padding: 10px 5px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    margin: 4px 0;
    display: inline-block;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    transition: transform 0.3s ease;
}
input:hover,
textarea:hover {
    transform: scale(1.05);
}
/*removs the arrows from number field*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button[type=submit]:hover,
button[type=submit]:focus,
.button:hover,
.button:focus {
    background-color: var(--buttonhover-color);
    opacity: 0.8;
    cursor: pointer;
    color: var(--black);
    text-decoration: none;
}

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--secondary-color);
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid var(--border-button-color);
    transition: all 0.85s;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    
    }

    .grid__item {
        background-color: var(--white);
        border-radius: 10px;
        border: 15px solid var(--primary-color);
        width: 90%;
        justify-self: center;
    }

    .grid__item--link {
        color: var(--black);
        padding: 3px;
        transition: all 0.5s;
    }

    .grid__item--link:hover {
        margin: -20px;
        background-color: var(--primary-color);
        border-radius: 10px;
        text-decoration: none;
        border: 4px solid var(--white);
    }
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
    0% {
        fill: var(--sun-0);
    }

    50% {
        fill: var(--sun-50);
    }

    100% {
        fill: var(--sun-100);
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}